* {
    margin: 0;

    transition: all 0.5s;

    scroll-behavior: smooth;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.vazirmatn-minimum {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.vazirmatn-400 {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.vazirmatn-maximum {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

body {
    background-color: rgb(31, 31, 69);
}

#main-contents {
    background-color: white; 
    
    margin: 60px 10% 0px 10%;

    text-align: center;

    font-size: 2em;

    border-radius: 10px;
}

#main-section {
    margin: 10px;
}

#main-table {
    text-align: right;
    width: 100%;
}

#cell-main-menu {
    width: 30%;

    vertical-align: top;
}

#main-menu ul li a {
    text-decoration: none;
    color:  black;
}

#main-menu ul li a:hover {
    color:  blue;
}

#header-subtitle {
    font-size: 1.2em;
}

.links-default
{
    text-decoration: none;
    color: black;
}
.links-default-smaller
{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
}
.links-default:hover, .links-default-smaller:hover
{
    color: blue;
}

.news-links-header
{
    font-size: 0.8em;
    font-weight: 900;
}

.news-links-text
{
    font-size: 0.7em;
    
}

.table-default
{
    width: 100%;
}

.cell-news-thumbnail
{
    width: 10%;

    padding-left: 20px;
}

.cell-news-text
{
    width: 70%;
}

.form-labels
{

}

#gallery
{
    overflow: auto;
    white-space: nowrap;
}

.main-footer
{
    background-color: brown;
}

.footers
{
    vertical-align: top;

    margin: 0 10px;

    display: inline-block;
    width: 25%;

    color: white
}

.footers h4
{
    font-size: 2em;
}

.footers ul li a
{
    font-size: 1.5em;
    color: lightyellow;
    text-decoration: none;
}

#footer-2
{
    width: 70%;
    text-align: end;
}
